# Eleventy
# ------------
_site

# System files
# ------------
Icon
.DS_Store

# Temporary files
# ---------------
/media/*
!/media/index.html

# Dependencies
# ---------------
/node_modules/*

# Lock files
# ---------------
*.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------
/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------
/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------
/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license
