<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/index.css">
  </head>
  <body>
    <header>
      <a class="logo" href="/">Kir11ty</a>
    </header>
    {{ content | safe }}
  </body>
</html>
